.watch{
    height: 100vh;
    width: 100vw;

    .back{
        display: flex;
        align-items: center;
        cursor: pointer;
        top: 10px;
        left: 10px;
        position: absolute;
        color: white;
        z-index: 2;
    }

    .video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}