.featured {
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 400;
        color: white;
        display: flex;
        align-items: center;

        select{
            background-color: var(--main-color);
            color: white;
            cursor: pointer;
            border: 1px white solid;
            margin-left: 20px;
            padding: 5px;
        }
    }

    img {

        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info {
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        color: white;

        img{
            width: 400px;
        }

        .desc{
            margin: 20px 0;
            font-size: 18px;
        }
        .buttons{
            display: flex;

            button{
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                margin-right: 10px;

                &.play{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more{
                    background-color: grey;
                    color: white;
                }

                span{
                    margin-left: 5px;
                }
            }
        }
    }
}